body {
    background-color: lightgrey;
}

.box-container{
    padding: 10px;
    background: white;
    margin-top:0px;
    margin-left:20px;
    margin-right:5px;
    margin-bottom:10px;
    align-content: center;
  }

.box-title {
    color: #1faf9d;
    font-family: "Vendana";
    font-weight: bold;
}

.bold_text {
    font-weight: bold;
}

.white_text {
    color: white;
}

.box-title-center {
    color: #1faf9d;
    font-family: "Vendana";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.description {
    font-size: "4.5"; 
	color: gray;
}

.navbar-brand {
    background-color: #9ed3d0;
    font-family: "Vendana";
    font-weight: bold;
    font-size: 35px;
    color:white;
}

.navbar-header{
    color:white;
}

@media (max-width: 480px) {
	.navbar {
		background-color: #9ed3d0;
		}
		  
	.navbar-brand {
		background-color: #9ed3d0;
		font-family: "Vendana";
        font-weight: bold;
        font-size: 30px;
		color: white;
		}

    .box-title-center {
        color: #1faf9d;
        font-family: "Vendana";
        font-weight: bold;
        text-align: center;
        font-size: 10px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

}